@import com.ysoft.odc.statistics.FailedProjects
@(
    projectsWithSelection: ProjectsWithSelection,
    allDependencies: Seq[GroupedDependency],
    failedProjects: FailedProjects
)(implicit header: DefaultRequest, mainTemplateData: MainTemplateData)

@main(
    title = s"All libraries for ${projectsWithSelection.projectNameText}",
    projectsOption = Some((projectsWithSelection, routes.Statistics.allLibraries(_)))
){
    @healthReport(failedProjects)
    @dependencyList(
        "all",
        allDependencies.sortBy(_.identifiers.toIndexedSeq.sortBy(i => (i.confidence.id, i.identifierType, i.name)).mkString(", ")),
        selectorOption = projectsWithSelection.selectorString,
        expandByDefault = false,
        addButtons = false
    )

}