@(
    projectsWithSelection: ProjectsWithSelection,
    tagOption: Option[(Int, LibraryTag)],
    statistics: LibDepStatistics
)(implicit messagesApi: MessagesApi, requestHeader: DefaultRequest, mainTemplateData: MainTemplateData)

@main(
    title = s"details for ${projectsWithSelection.projectNameText}${tagOption.map(_._2.name).fold("")(" and tag "+_)}",
    projectsOption = Some((projectsWithSelection, x => routes.Statistics.vulnerabilities(x, tagOption.map(_._1))))
){
    @healthReport(statistics.failedProjects)
    We have @statistics.vulnerabilitiesToDependencies.size vulnerabilities
    of @statistics.vulnerabilitiesToDependencies.flatMap(_._2).toSet.size dependencies (@statistics.vulnerabilitiesToDependencies.flatMap(_._2.flatMap(_.plainLibraryIdentifiers)).toSet.size libraries).
    @if(!projectsWithSelection.isProjectSpecified){
        They are affecting @statistics.vulnerabilitiesToDependencies.flatMap(_._2.flatMap(_.projects)).toSet.size projects.
    }else{
        Showing only project matching the selected filter.
        <div class="alert alert-warning">When a filter is applied, number of affected project might differ, as it is computed over a subset of subprojects. As a result, order of vulnerabilities might slightly differ from their order at all-projects view.</div>
    }
    <div class="help">
        Vulnerabilities are sorted by severity. If the severity is the same, they are sorted by number of affected projects. If even this matches, they are sorted by name (which is related to vulnerability age).
    </div>
    @for((vulnerability, dependencies) <- statistics.vulnerabilitiesToDependencies.toSeq.sortBy{case (vuln, deps) =>
        (
            vuln.cvssScore.map(-_),                 // CVSS score
            -deps.flatMap(_.projects).toSet.size,   // number of affected projects
            vuln.name                               // make it deterministic
        )
    }){
        <h2><a href="@routes.Statistics.vulnerability(vulnerability.name, projectsWithSelection.selectorString)">@vulnerability.name</a>
            <span class="severity">
                CVSS <span class="explained" title="vulnerability score based on Common Vulnerability Scoring System 2.0">@(vulnerability.cvss.score.getOrElse{"?"})</span>,
                    @defining(dependencies.flatMap(_.projects).toSet.size){ numProjects =>
                        affecting @numProjects @if(numProjects>1){projects}else{project}
                    }
                </span>
        </h2>
        <p>@vulnerability.description</p>
        @* <p>@dependencies.map(_.identifiers)</p> *@
        @* <p>@dependencies.flatMap(_.projects).toSet</p> *@
    }
}