@(items: IndexedSeq[GroupedDependency])(implicit rh: DefaultRequest, snoozes: SnoozesInfo, messages: Messages)
(ignore this item)
@groupedDependencyList(name = "", id = s"grouped-dependencies-warning-${java.util.UUID.randomUUID.toString}", collapse = false, allowSnoozes = false, versions = Map())(list = items)
@for(groupedDependency <- items){
    <li>
        <strong>@groupedDependency.fileNames.toSeq.sorted</strong>
        @identifiers(groupedDependency.identifiers)
        @groupedDependency.dependencies.keySet.groupBy(_.evidenceCollected)
    </li>
}